<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zz.mapper.UserMapper">
    <sql id="tableName">
        `user`
    </sql>

    <sql id="selectUserVo">
        select `id`,`username`,`password`,`name`,`created_at`,`updated_at` from
        <include refid="tableName" />
    </sql>

    <resultMap id="userResultMap" type="User">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />

        <result property="extId" column="id" />
    </resultMap>

    <!--单条插入-->
    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="tableName" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
        </trim>
    </insert>

    <!--批量插入-->
    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="tableName" />
        (name,username,password) values
        <foreach item="item" collection="list" separator=",">
            (#{item.name}, #{item.username}, #{item.password})
        </foreach>
    </insert>

    <!--deleteUserById-->
    <delete id="deleteById" parameterType="Long">
        delete from
        <include refid="tableName" />
        where id = #{id}
    </delete>

    <!--deleteUserByIds-->
    <delete id="deleteByIds" parameterType="Long">
        delete from
        <include refid="tableName" />
        where id in
        <!--建议这么写，防止参数没有的时候把整张表删除了，最好是service层控制一下-->
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--updateById-->
    <update id="updateById" parameterType="User">
        update
        <include refid="tableName" />
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="name != null">name = #{name},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateById2" parameterType="User">
        update
        <include refid="tableName" />
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="name != null">name = #{name},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </set>
        where id = #{id}
    </update>

    <!--查询全部-->
    <select id="getList" resultMap="userResultMap">
        <include refid="selectUserVo" />
        <where>
        </where>
    </select>

    <!--根据id查询-->
    <select id="getById" parameterType="Long"  resultMap="userResultMap">
        <include refid="selectUserVo" />
        <where>
            id = #{id}
        </where>
    </select>

    <!-- in 查询-->
    <select id="getByIds" parameterType="Long"  resultMap="userResultMap">
        <include refid="selectUserVo" />
        where id IN
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
        <!--不建议使用以下方式，因为与预期不符，参数没有直接返回空，而不是查全表-->
<!--        <if test="array != null and array.length > 0">-->
<!--            where id IN-->
<!--            <foreach item="item" collection="array" open="(" separator="," close=")">-->
<!--                #{item}-->
<!--            </foreach>-->
<!--        </if>-->
    </select>
</mapper>
